<h1>Bienvenido: {{datosUsuarioLoggedIn.user.displayName}}</h1>
<h2>{{datosUsuarioLoggedIn.user.email}}</h2>

<h1 class="centerText">OTHELLO GAME</h1>
<br>
<br>
<br>
<div id="colorTurn" class="centerText" style="color: #020202; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; ">Turno de: {{infoPlayer1.nombre}}</div>
<div id="grid">
  <div class="row">
    <div class="cell" id="cell00" (click)="selectCell(0,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell01" (click)="selectCell(0,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell02" (click)="selectCell(0,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell03" (click)="selectCell(0,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell04" (click)="selectCell(0,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell05" (click)="selectCell(0,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell06" (click)="selectCell(0,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell07" (click)="selectCell(0,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell10" (click)="selectCell(1,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell11" (click)="selectCell(1,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell12" (click)="selectCell(1,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell13" (click)="selectCell(1,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell14" (click)="selectCell(1,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell15" (click)="selectCell(1,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell16" (click)="selectCell(1,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell17" (click)="selectCell(1,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell20" (click)="selectCell(2,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell21" (click)="selectCell(2,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell22" (click)="selectCell(2,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell23" (click)="selectCell(2,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell24" (click)="selectCell(2,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell25" (click)="selectCell(2,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell26" (click)="selectCell(2,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell27" (click)="selectCell(2,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell30" (click)="selectCell(3,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell31" (click)="selectCell(3,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell32" (click)="selectCell(3,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell33" (click)="selectCell(3,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell34" (click)="selectCell(3,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell35" (click)="selectCell(3,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell36" (click)="selectCell(3,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell37" (click)="selectCell(3,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell40" (click)="selectCell(4,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell41" (click)="selectCell(4,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell42" (click)="selectCell(4,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell43" (click)="selectCell(4,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell44" (click)="selectCell(4,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell45" (click)="selectCell(4,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell46" (click)="selectCell(4,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell47" (click)="selectCell(4,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell50" (click)="selectCell(5,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell51" (click)="selectCell(5,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell52" (click)="selectCell(5,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell53" (click)="selectCell(5,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell54" (click)="selectCell(5,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell55" (click)="selectCell(5,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell56" (click)="selectCell(5,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell57" (click)="selectCell(5,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell60" (click)="selectCell(6,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell61" (click)="selectCell(6,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell62" (click)="selectCell(6,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell63" (click)="selectCell(6,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell64" (click)="selectCell(6,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell65" (click)="selectCell(6,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell66" (click)="selectCell(6,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell67" (click)="selectCell(6,7);">
      <div class="disc"></div>
    </div>
  </div>
  <div class="row">
    <div class="cell" id="cell70" (click)="selectCell(7,0);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell71" (click)="selectCell(7,1);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell72" (click)="selectCell(7,2);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell73" (click)="selectCell(7,3);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell74" (click)="selectCell(7,4);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell75" (click)="selectCell(7,5);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell76" (click)="selectCell(7,6);">
      <div class="disc"></div>
    </div>
    <div class="cell" id="cell77" (click)="selectCell(7,7);">
      <div class="disc"></div>
    </div>
  </div>
</div>

<div class="pointsOfPlayerOne" id="p1"><span id="player1"></span>
  <p class="areaPoints1">{{infoPlayer1.nombre}}</p>
  Score: {{infoPlayer1.p1Score}}
  <img class="iconPosition" src="assets/black-circle.png" alt="iconBlack">
</div>
<div class="pointsOfPlayerTwo" id="p2"><span id="player2"></span>
  <p class="areaPoints2">{{infoPlayer2.nombre}}</p>
  Score: {{infoPlayer2.p2Score}}
  <img class="iconPosition" src="assets/white-circle.png" alt="iconWhite">
</div>

<button (click)="resetGame()" style="margin-left: 980px;">
  <!-- <span data-text="Refresh">Refresh</span> -->Refresh
</button>

<button (click)="firebaseService.signOut()" class="button" style="margin-right: 850px;">Cerrar Sesión</button>