<body style="background-color:#333333">
    <div class="wrapper">
        <div class="container centered">
            <div class="form-row">
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <br>
                  <a style="width: 500px; margin-left: 10px;">Lobby</a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <br>
                  <input type="text" style="width: 500px; margin-left: 10px" placeholder="Copy link to join the game">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-inline" style="margin-top: 20px;">
                <input class="inp" type="text" style="width: 300px; margin-left: 10px" placeholder="https://plow.com/sdfjh34/pny1u4x">
                <button style="width: 200px;">SEND</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" >
                <br>
                <button class="back" style="width: 200px;margin-top: 640px;">BACK</button>
            </div>
            </div>
        </div>
        <div class="container centered" style="margin-left:75px">
        <div class="form-row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <br>
                <a style="width: 500px; margin-left:125px;">CHAT</a> 
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <br>
                <textarea id="w3review" name="w3review"  style="width: 510px; margin-left:125px;">
                    At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                    </textarea>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-inline">
                <input type="text" style="width: 300px; margin-left: 125px" placeholder="Escribir">
                <button style="width: 200px;">SEND</button>
            </div>
          </div>
        </div>
        <div class="container centered" style="margin-left: 125px;">
            <div class="form-row">
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <br>
                  <a style="width: 500px; margin-left: 10px;">CREATE</a>
              </div>
    
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-inline" style="margin-top: 20px;">
                <button class="bn" style="width: 166px;margin-left: 5px;">OTHELLO</button>
                <button class="bn" style="width: 166px;margin-left: 7px;">AJEDREZ</button>
                <button class="bn" style="width: 166px;margin-left: 7px;">4 EN RAYA</button>           
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <br>
                <button class="create" style="width: 515px; margin-left: 10px;">CREATE</button>
            </div>
            </div>
        </div>
      </div>
</body>

