<br>
<br>
<br>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<!-- <img id="logo-comunidad" src="" alt="lestertb"> -->
      <input type="text" id="user" placeholder="Cédula" />
      <input id="password"  placeholder="Contraseña"/>     
      <span id="eye" toggle="#password" class="fa" ></span> 
      <br>
      <br>
      <br>
	  <button  >Iniciar Sesión</button>
	  <!-- <button >Volver</button> -->
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
        <h1>¡Bienvenido/a!</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="ghost" id="signUp" routerLink="registro_estudiantes" >Registrarse</button>
			</div>
		</div>
	</div>
</div>
