 <br>
 <br>
 <br>
 <div class="wrapper p" style="margin-top: 1%; color : white">
    <p class="h">OTHELLO</p>
  </div> 
  <br>
  <div class="container centered" style="border: solid 2px rgb(128 ,122, 122)">
    <div>
        <label for="cars">Numero de partidas simultaneas</label>
        <br>
        <br>
        <select name="partidas" id="partidas">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">10</option>
            <option value="7">15</option>
            <option value="8">20</option>
        </select>
    </div>
    <div style="margin-top: 75px;">
        <label for="cars">Tipos de aperturas</label>
        <br>
        <br>
        <select name="apertura" id="apertura">
            <option value="volvo">Apertura Tradicional</option>
            <option value="saab">Apertura aleatoria</option>
            <option value="opel">Apertura Tradicional y aleatoria</option>
        </select>
    </div>
    <div style="margin-top: 75px;">
        <label for="cars">Dificultad</label>
        <br>
        <br>
        <select name="dificultad" id="dificultad">
            <option value="volvo">Facil</option>
            <option value="saab">Normal</option>
            <option value="opel">Dificil</option>
        </select>
    </div>
    <br>
    
    <button style="margin-top: 20px;margin-left: 20px;">Jugar</button>
  </div>

  <button class="back" style="width: 200px;margin-left: 30px;margin-top: 50px;">Atras</button>
