 <div class="wrapper p" style="margin-top: 1%; color : white">
   <p class="h">OTHELLO</p>
 </div>
 <br>

 <form #form="ngForm" (ngSubmit)="crearPartida(form)">
   <div class="container centered" style="border: solid 2px rgb(128 ,122, 122)">
     <div>
       <label for="cars">Tipo de partida</label>
       <br>
       <br>
       <select name="partidas" id="partidas" (click)="cambioPartida()">
         <option value=1>Un solo jugador</option>
         <option value=2>Multijugador</option>
       </select>
     </div>
     <div *ngIf="tipoPartida == '2'" style="margin-top: 75px;">
       <label for="info">Información para el Multijugador</label>
       <br>
       <br>
       <label for="nombreJugador2">Digite el nombre del jugador 2:</label>
       <br>
       <br>
       <input type="text" name="nombreJugador2" [(ngModel)]="dataPartida.nombreJugador2">
     </div>
     <div style="margin-top: 75px;">
       <label for="cars">Dificultad</label>
       <br>
       <br>
       <select name="dificultad" id="dificultad" disabled>
         <option value="volvo">Facil</option>
         <option value="saab">Normal</option>
         <option value="opel">Dificil</option>
       </select>
     </div>
     <br>
     <button style="margin-top: 20px;margin-left: 20px;" type="submit">Jugar</button>
   </div>
 </form>
 <button class="back" style="width: 200px;margin-left: 30px;margin-top: 50px;">Atras</button>